
html, body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #003366;
    background-image: url('asset/sti-logo\ 4\ \(3\).png');
    background-size: 1200px;
    background-position: center;
    background-repeat: no-repeat; 
    background-position-y: top;
}

.container{
    display: grid;
    width: 100%;
    height: 100%;
    
}

h1{
    color: white;
    text-align:  center;
    font-size: 45px;
}

#login{
    background-color: white;
    opacity: 75%;
    border-radius: 35px;
    width: 950px;
    padding: 30px; 
}

form{
    justify-self: center;
    margin-bottom: 30px;
}

p{
    margin: 0;
}

.row{
    margin-bottom: 0;
}

#btn{
    display: flex;
    flex-direction: column;
    font-style: bold;
    align-items: end;
}

.row .col.s6{
    width: 100%;
    margin: 0;
    margin-top: 10px;
}

.row{
    display: flex;
}

h2{
    font-size: 1.5rem;
}
